---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap", "bs-docs-nav", "bs-docs-footer", "font-awesome", "syntax-highlighting";

section.green-light {
  height: 100vh;
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
  color: #363c44;
}

.bubble {
  animation: fade 10s infinite;
  background: lighten(#1ea623, 20%);
  border-radius: 100%;
  position: absolute;
  visibility: hidden;

  @keyframes fade {
    from {
      bottom: -2.4rem;
      opacity: 1;
      visibility: visible;
    }

    to {
      bottom: 120%;
    }
  }
}
