<div class="row">
  <div class="col-12 col-md-7">
    {% assign post = site.posts[0] %}
    <h3>{{ post.title }}</h3>
    <a href="{{ post.url }}">
      <img src="{{ post.banner }}" alt="" class="img-rounded" width="100%" height="200px" style="object-fit: cover;">
    </a>
    <p>
      {{ post.excerpt | truncatewords: 50 }}
      <a href="{{ post.url }}">Lire&nbsp;l'article&nbsp;»</a>
    </p>
  </div>
  <div class="col-12 col-md-5">
    <hr class="hidden-md-up" />
    {% assign post = site.posts[1] %}
    <h3>{{ post.title }}</h3>
    <p>
      {{ post.excerpt | truncatewords: 30 }}
      <a href="{{ post.url }}">Lire&nbsp;l'article&nbsp;»</a>
    </p>

    <hr />
  
    {% assign post = site.posts[2] %}
    <h3>{{ post.title }}</h3>
    <p>
      {{ post.excerpt | truncatewords: 30 }}
      <a href="{{ post.url }}">Lire&nbsp;l'article&nbsp;»</a>
    </p>
  </div>
</div>
