<ol class="breadcrumb">
  <li><a href="{{ site.baseurl }}/">Medusal</a></li>
  {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
  {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
  {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
  {% for i in (1..forLoopMaxInt) %}
    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% for breadcrumb_page in site.pages %}
      {% if current_breadcrumb_url == breadcrumb_page.url %}
        {% assign j = forLoopMaxInt | plus: 0 %}
        {% if i == j %}
          <li class="active">{{breadcrumb_page.nav_name | default: breadcrumb_page.title}}</li>
        {% else %}
          <li>
            <a href="{{breadcrumb_page.url}}">{{breadcrumb_page.nav_name | default: breadcrumb_page.title}}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for breadcrumb_page in site.posts %}
    {% if current_breadcrumb_url == breadcrumb_page.url %}
      <li class="active">{{breadcrumb_page.title}}</li>
    {% endif %}
  {% endfor %}
</ol>
