<footer>
  <div class="container-fluid">
    <ul class="footer-links">
      {% assign pages = site.pages | sort:"weight"  %}
      {% for my_page in pages %}
        {% if my_page.footer_name %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.footer_name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <p>
      SAS medusal<br/>
      9 rue Gerbert<br/>
      75015 Paris<br/>
      <a href="mailto:contact@medusal.com">contact@medusal.com</a>
    </p>
  </div>
</footer>
