<header class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="clearfix">
      <button style="float:right" class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#main-nav">☰</button>
      <a class="navbar-brand hidden-md-up" href="/">Medusal</a>
    </div>
    <a class="navbar-brand hidden-sm-down" href="/">Medusal</a>
    <div class="navbar-toggleable-sm collapse" id="main-nav">
      <ul class="nav navbar-nav">
        {% assign pages = site.pages | sort:"weight"  %}
        {% assign page_url_array = page.url | split:'/' | index[1] %}
        {% for my_page in pages %}
          {% if my_page.nav_name %}
            {% assign my_page_url_array = my_page.url | split:'/' | index[1] %}
            {% if page_url_array[1] == my_page_url_array[1] %}
              <li class="nav-item active">
                <a class="nav-item nav-link" href="{{ my_page.url | prepend: site.baseurl }}">
                  {{ my_page.nav_name }}
                </a>
              </li>
            {% else %}
              <li class="nav-item {{ page_url_array[1] }} {{ my_page_url_array[1] }}"><a class="nav-item nav-link"  href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.nav_name }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</header>
