---
title: Enjeux
permalink: "/blog/enjeux/"
color: '#A33D62'
---
<div class="row">
  {% for post in site.posts %}
    {% if post.categories[0] == 'Enjeux' %}
      <div class="col-xs-12 col-sm-6">
        <a href="{{ post.url }}">
          <img src="{{ post.banner }}" alt="" class="img-rounded" style="width:100%; object-fit: cover;" height="200px">
        </a>
        <h3>
          {{ post.title }}
        </h3>
        <p>
          {{ post.excerpt | truncatewords: 30 }}
          <a href="{{ post.url }}">Lire l'article »</a>
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>

