.breadcrumb {
  padding: 0px;
  background: #edeff0;
  list-style: none; 
  margin-top: 20px;
  white-space: nowrap;
  border-radius: $border-radius;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  text-transform: uppercase;
}
.breadcrumb>li+li:before {
  padding: 0;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li.active a {
  color: white;
  pointer-events: none;
}

.breadcrumb li a {
  color: #2c3f4c;
  text-decoration: none; 
  padding: 10px 0 10px 45px;
  position: relative; 
  display: inline-block;
  font-weight: 500;
}
.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #edeff0;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
} 
.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 3px;
  left: 100%;
  z-index: 1; 
} 
.breadcrumb li:first-child a {
  padding-left: 15px;
}
.breadcrumb li a:hover { color: white; background: #2c3f4c; }
.breadcrumb li a:hover:after { border-left-color: #2c3f4c !important; }
