.bs-docs-nav {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0
}
.bs-home-nav .bs-nav-b {
    display: none
}
.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav>li>a {
    font-weight: 500;
    color: $text-color;
}
.bs-docs-nav .navbar-nav>.active>a,
.bs-docs-nav .navbar-nav>.active>a:hover,
.bs-docs-nav .navbar-nav>li>a:hover {
    color: $text-color;
    background-color: #f9f9f9
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: $text-color;
}
.bs-docs-nav .navbar-header .navbar-toggle {
    border-color: #fff
}
.bs-docs-nav .navbar-header .navbar-toggle:focus,
.bs-docs-nav .navbar-header .navbar-toggle:hover {
    background-color: #f9f9f9;
    border-color: #f9f9f9
}
