.bubbles {
  position: relative;

  .bubble {
    animation: fade 10s infinite;
    background: lighten(#1ea623, 20%);
    border-radius: 100%;
    position: absolute;
    visibility: hidden;

    @keyframes fade {
      from {
        bottom: 0%;
        opacity: 1;
        visibility: visible;
      }

      to {
        opacity: .1;
        bottom: 95%;
      }
    }
  }
}
