a {
  font-weight: 600;
}
.btn-white {
  background-color: transparent !important;
  border-color: #fff !important;
  &:not(:hover), &:not(:hover) {
    color: #fff !important;
  }
  &:hover, &:active {
    color: $gray;
    background-color: #fff !important;
    border-color: #fff !important;
  }
}

.btn-fat {
  font-weight: 800 !important;
  border-width: 2px !important;
}

.btn-toolbar {
  margin-bottom: -.5rem;
  &>.btn {
    margin-bottom: .5rem;
  }
}

@include media-breakpoint-down(xs) {
  .btn, .input-group, .btn-group {
    display: block;
  }
}

.btn {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2;
  font-size: 0.9rem;
  &:hover {
    text-shadow: none;
  }
}
.btn-sm {
  font-size: 0.6rem;
}
.btn-lg {
  font-size: 1rem;
}
