.btn-white {
  background-color: transparent !important;
  border-color: #fff !important;
  &:not(:hover), &:not(:hover) {
    color: #fff !important;
  }
  &:hover, &:active {
    color: $gray;
    background-color: #fff !important;
    border-color: #fff !important;
  }
}

.btn-fat {
  font-weight: 600 !important;
  border-width: 2px !important;
}
