section.green-light {
  background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
  color: #1ea623;
}

section.wallpaper-background {
  position: relative;
  background-color: #3c465a;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/home/hands.png);
}

.jumbotron2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  font-weight: 300;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5),0 1px 30px rgba(0,0,0,1);

  .logo {
    text-align: left;
  }

  h1 {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2.1rem;
    line-height: 1.15;
  }
  .btn {
    margin-top: 2rem;
    &:hover {
      text-shadow: none;
    }
  }
  p {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

@include media-breakpoint-up(md) {
  .jumbotron2 {
    text-align: left; 

    h1 {
      max-width: 550px;
      font-size: 3.5rem;
    }
    p {
      max-width: 700px;
      font-size: 1.8rem;
    }
  }
}
