.layout-default {
  .content {
    padding-bottom: 30px;
  }

  h1 {
    font-weight: 200 !important;
    margin-top: 30px;
  }

  p.lead {
    font-size: 16px;
  }

  h2 {
    border-bottom: 1px solid #ddd;
    font-weight: 400;
  }

  h3 {
    color: black;
  }

  p {
    margin: $font-size-base 0;
  }

  .support-footer {
    margin: 40px 0;
    text-align: center;
  }
}
