.navbar {
  border-radius: 0 !important;
  box-shadow: 0 1px 3px 0 #bfbfbf;
  padding: 0 !important;
  
  .navbar-toggler {
    margin-top: .4rem;
    outline: none;
  }

  .navbar-brand {
    margin-top: .4rem;
    margin-bottom: .3rem;
    &.active {
      color: $brand-primary;
    }
  }

  .nav-item + .nav-item {
    margin-left: 0px;
  }
  .navbar-brand, .navbar-nav>li>a {
    font-weight: 500;
    color: $body-color;
  }
  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>li>a:hover {
    color: $body-color;
    background-color: #f9f9f9;
  }
  .navbar-header .navbar-toggle {
    border-color: #fff
  }
  .navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-nav li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    a {
      text-align: center;
      background-color: transparent !important;
    }
    &:first-child {
      border-top: 1px solid lightgrey;
    }
    &:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-nav.right {
    float: right;
  }
  .navbar-nav .active a {
    border-bottom: 5px solid;
    margin-bottom: -5px;
  }
  .navbar-nav li a {
    padding: .8rem 1rem !important;
  }
}
