.pricing {
  .column {
    top: -100px;
    position: relative;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background: #fff;
    padding-bottom: 125px;

    .header {
      background: $brand-info;
      min-height: 100px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      color: #fff;
    }

    .body {
      padding: 25px 24px;
      .btn {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 20px;
        left: 20px;
      }

      .feature-list {
        padding: 0;
        margin: 0;
        list-style: none;
        .feature-list-item {
          margin-bottom: 0.75em;
          width: 100%;
          float: left;
        }
        .item-icon {
          width: 32px;
          height: 32px;
          float: left;
          position: relative;
        }
        .item-title {
          font-size: 14px;
          display: block;
          margin-left: calc(32px + 12px);
          color: $brand-primary;
          height: 15px;
          line-height: 15px;
          font-weight: 600;
          &.small-title {
            height: 32px;
            font-size: 16px;
            line-height: 32px;
          }
        }
        .item-subtitle {
          margin-bottom: 8px;
          font-size: 14px;
          opacity: 0.6;
          display: block;
          margin-left: calc(32px + 12px);
          color: $brand-primary;
        }
        .item-desc {
          font-size: 14px;
          opacity: 0.6;
          display: block;
          margin-left: calc(32px + 12px);
          color: $brand-primary;
        }
      }
    }
  }
}
