section {
  padding-bottom: 2rem;
  padding-top: 2rem;

  &.odd {
    background-color: #f9fafb;
  }

  &.even {
    background-color: white;
  }

  &.green-light {
    background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
    color: #1ea623;
  }

  &.blue {
    // linear-gradient(140deg, #2f6b91 10%, #65133a 90%)
background: linear-gradient(140deg, #0B486B , #F56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h2 {
      border-bottom: none;
    }
  }

  &.wallpaper {
    position: relative;
    background-color: #3c465a;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/home/hands.png);
  }

  &.bubbles {
    position: relative;

    .bubble {
      animation: fade 10s infinite;
      background: $brand-primary;
      border-radius: 100%;
      position: absolute;
      visibility: hidden;

      @keyframes fade {
        from {
          bottom: 0%;
          opacity: 1;
          visibility: visible;
        }

        to {
          opacity: .1;
          bottom: 95%;
        }
      }
    }
  }
}
