body {
  -webkit-font-smoothing: antialiased;
}

.logo {
  background: transparent url(https://cloud.githubusercontent.com/assets/9364085/16230013/b3560aa8-37bf-11e6-8d19-613a8952ddbc.png) no-repeat left center;
  background-size: 3.5rem;
  padding-left: 3.5rem;
  line-height: 4rem;
  span {
    font-size: 3.4rem; 
    &.logo-green {
      color: $brand-success;
    }
    &.logo-blue {
      color: $brand-info;
    }
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    max-width: $container-fluid-max-width;
  }
}

hr {
  margin: 0;
}

h1 {
  font-weight: 200;
  margin-top: 2rem;
}

h2 {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  color: $gray;
}

h3 {
  color: $gray-dark;
  font-size: 1.2rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

p {
  margin: $font-size-base 0;
}

pre {
  border-radius: $border-radius;
  padding: 0.8rem 1.2rem;
  background-color: lighten($brand-primary, 55%);
  border-left: 6px solid $brand-primary;
}

.content {
  padding-bottom: 30px;
}

.support-footer {
  margin: 40px 0;
  text-align: center;
}
