.logo {
  background: transparent url(https://cloud.githubusercontent.com/assets/9364085/16230013/b3560aa8-37bf-11e6-8d19-613a8952ddbc.png) no-repeat left center;
  background-size: 5rem;
  padding-left: 5rem;
  line-height: 6rem;
  span {
    font-size: 5rem; 
    &.logo-green {
      color: #C2D400;
    }
    &.logo-blue {
      color: #38BED6;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .container-fluid {
    max-width: 980px;
  }
}