body {
  -webkit-font-smoothing: antialiased;
}

.logo {
  text-shadow: none;
  font-variant: small-caps;
  text-transform: lowercase;
  background: transparent url(/assets/logo-home.png) no-repeat left center;
  background-size: 3.5rem;
  padding-left: 3.5rem;
  line-height: 4rem;
  span {
    font-size: 3.4rem; 
    &.logo-green {
      color: $brand-success;
    }
    &.logo-blue {
      color: $brand-info;
    }
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    max-width: 980px;
  }
}

hr {
  background-color: white;
  margin: 0;
}

h1 {
  font-weight: 200;
  margin-top: 1rem;
}

h2 {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  color: $gray;
}

h3 {
  color: $gray-dark;
  font-size: 1.2rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

p {
  margin: $font-size-base 0;
  &.small {
    font-size: 85%;
  }
}

pre {
  border-radius: $border-radius;
  padding: 0.8rem 1.2rem;
  background-color: lighten($brand-primary, 40%);
  border-left: 6px solid $brand-primary;
}

.content {
  padding-bottom: 30px;
}

.support-footer {
  margin: 40px 0;
  text-align: center;
}

small.text-uppercase {
  font-size: 65%;
}
