<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="layout-default">
    <style>
      h1 { color: #85144b !important; /* keep in sync with _pages/blog color */  }
    </style>

    {% include header.html %}
    <div class="content">
      <div class=" container-fluid">
        {% include breadcrumb.html %}
        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.banner %}
          <img src="{{page.banner}}" width="100%"/>
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
