<!DOCTYPE html>
<html class="layout-default">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="content">
      <div class="container-fluid">
        {% include breadcrumb.html %}
        {% if page.title %}
          <h1 class="page-color">{{ page.title }}</h1>
        {% endif %}
        {% if page.categories %}
          <small class="mute">Posté dans <a href="/blog/{{ page.categories[0] | downcase }}">{{ page.categories[0] | replace: 'E-sante', 'E-santé' }}</a></small>
        {% endif %}
        {% if page.categories and page.date %}
          <small class="mute">-</small>
        {% endif %}
        {% if page.date %}
          {% capture i18n_date %}
            {{ page.date | date: "%-d" }}
            {% assign m = page.date | date: "%-m" | minus: 1 %}
            {{ site.months[m] }}
            {{ page.date | date: "%Y" }}
          {% endcapture %}

          <small class="mute">le {{ i18n_date }}</small>
        {% endif %}


        {% if page.excerpt %}
          <p class="lead">{{ page.excerpt }}</p>
        {% endif %}
        {% if page.banner %}
          <img src="{{ page.banner }}" width="100%" height="300px" style="object-fit: cover;" />
        {% endif %}
      </div>
      {% if page.nocontainer %}
        {{ content }}
      {% else %}
        <div class="container-fluid">
          {{ content }}
        </div>
      {% endif %}
      <div class="container-fluid">
        {% if page.author %}
          <em>{{ page.author }}</em>
        {% endif %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>


